@import 'lato.css';

@import '../semantic/dist/semantic.min.css';

@import '~dropzone/dist/dropzone.css';

body {
    background-color: #353535;
}

.ui.container.first {
    margin-top: 4em;
}

.minimargin {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
