@import 'lato.css';

@import '../fomantic/dist/semantic.min.css';

@import '~@uppy/core/dist/style.css';
@import '~@uppy/dashboard/dist/style.css';

body {
    background-color: #353535;
}

.ui.container.first {
    margin-top: 4em;
}

.minimargin {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

@media only screen and (min-width:767.98px) {
    .ui.button.instep {
        margin-left: 1em;
    }
}

table {
    word-break: break-word;
}
