<nom> respecte votre vie privée, de ce fait nous tentons d'être la plus respecteuse de celle-ci. Voici ci-dessous la liste des données susceptibles d'être collectées lors de l'utilisation de notre service.

Nous ne cédons pas ces données à des tierces parties. Nous n'utilisons pas de système analytiques, hormis pour la journalisation des erreurs (grâce à Sentry).
